---
---
<section id="programa" class="relative flex flex-col justify-center items-center min-h-screen w-screen overflow-hidden">
  <div class="absolute inset-0 bg-gradient-to-br from-purple-100 via-white to-purple-200 opacity-60 z-0"></div>
  <div class="relative z-10 p-6 flex flex-col items-center w-full h-full">
  <h2 class="text-3xl font-semibold text-pink-600 mb-3">Programa</h2>
  <ol class="list-decimal list-inside space-y-1 text-gray-800 text-xl">
    <li>Bienvenida y presentación</li>
    <li>Juegos y dinámicas</li>
    <li>Comida y convivencia</li>
    <li>Agradecimientos</li>
  </ol>
</section>
