---
import "./styles/global.css";
import Bienvenida from "../components/Bienvenida.astro";
import DetallesEvento from "../components/DetallesEvento.astro";
import Programa from "../components/Programa.astro";
import RSVP from "../components/RSVP.astro";
import Regalos from "../components/Regalos.astro";
import Footer from "../components/Footer.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Invitación Baby Shower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="bg-gradient-to-b from-pink-50 to-blue-50 min-h-screen font-sans">
    <main>
      <Bienvenida />
      <DetallesEvento />
      <Programa />
      <RSVP />
      <Regalos />
      <Footer />
    </main>
  </body>
</html>
