---
---
<section id="detalles" class="flex flex-col justify-center items-center min-h-screen w-screen bg-blue-100 bg-opacity-60 p-6">
  <h2 class="text-2xl font-semibold text-blue-600 mb-3">Detalles del Evento</h2>
  <ul class="space-y-1 text-gray-800">
    <li><span class="font-semibold">Fecha:</span> [Agrega la fecha aquí]</li>
    <li><span class="font-semibold">Hora:</span> [Agrega la hora aquí]</li>
    <li><span class="font-semibold">Lugar:</span> [Agrega la dirección aquí]</li>
  </ul>
</section>
