---
---
<section id="footer" class="bg-black text-white p-1 relative flex flex-col justify-center items-center overflow-hidden">
  <p class="text-sm">Gracias por tu visita. Hecho con ❤️ por <a class="text-pink-500" href="https://api.whatsapp.com/send?phone=5212224892205" target="_blank">Irving Didier</a></p>
</section>
